

            /*menubar*/
            .menu-bar li{
              /*margin-left: 100%*/
              float:right;
              display: inline;
              margin:5px;
              margin-top: -15px;
              /*float: inherit;*/
            }

            .menu-bar ul{
              left: 100px;
            }

            .menu-bar a{
              text-decoration: underline;
            }

            .menu-bar a:hover{
              text-decoration: none;
            }

            .menu-bar{
              height: 28px;
            }